body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin-top: 59.6px;
  padding: 0;
}

.table {
  text-align: center;
  position: relative;
}

.table:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

.overlay{
  position: absolute;
  left: 0; 
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(236, 235, 235, 0.8);
  z-index: 10;
  display: block;
}

.overlay-end{
  display: block;
}

button {
  margin: 0;
  padding: 0;
}

.card {
  margin: 3px;
  width: 250px;
  height: 285px;
  border: none;
}

.imgStyle {
  width: 250px;
  height: 285px;
}

.card:focus {
  outline: none;
  background: #ddd;
}

.card-front {
  background-image: url(https://drive.google.com/uc?export=view&id=1yTFnOjNL55k45ixbH4_YmlLkFFjtEs1k);
  background-size: 300px;
  cursor: pointer;
}

.card-front:hover {
  opacity: 0.7;
  transition: 1s;
}

.card-back {
  background-image: url(https://drive.google.com/uc?export=view&id=1yTFnOjNL55k45ixbH4_YmlLkFFjtEs1k);
  background-size: 300px;
  cursor: pointer;
}

.front {
  display: none;
}

.match {
  border: 3px solid red;
  border-radius: 4px;
}

.unmatch {
  border: 3px solid blue;
  border-radius: 4px;
}

.title {
  text-align: center;
  margin-top:238px;
  font-size: 3em;
  font-weight: bold;
  color:red;
}

.start-button {
  margin: 25px;
  font-size: 2.0em;
  font-weight: bold;
  padding: 2px 14px;
  color: #fff;
  border-style: none;
  box-shadow: 2px 2px 3px 1px #666;
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;
  text-shadow: 1px 1px 2px #000;
  background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
  background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor:pointer;
}

.start-button:hover{
  opacity:0.7;
}

.count-number {
  margin-left: 20px;
  font-size: 2.0em;
  font-weight: bold;
}

.status-container {
  display: flex;
}

.count-number {
  margin: 25px;
  color: white;
}

.gameStatus {
  margin: 25px;
  width: auto;
  font-size: 2rem;
  color: white;
  text-align: center;
  text-align: justify;
}

.scoreContainer {
  position: absolute;
  top: 50%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  width: 400px;
  height: 300px;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: white;
  z-index: 11;
}

.scoreTitle {
  text-align: center;
  width: 400px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  border-radius: 20px 20px 0 0;
}

.score {
  display: flex;
  width: 350px;
  height: 40px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.scoreDetail {
  font-size: 1.2rem;
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.scoreNumber {
  font-size: 1.2rem;
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

#timeColor {
  border-left: 10px solid #fa7f7f;
}

#attemptColor {
  border-left: 10px solid #f8fba2;
}

#accuracyColor {
  border-left: 10px solid #a0e4b0;
}

hr {
  width: 300px;
}

.playAgain {
  background-color: #d5f4e6;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 30px 4px 0;
  cursor: pointer;
  border-radius: 16px;
}

.playAgain:hover {
  background-color: #80ced6;
}

.scores {
  background-color: #f7cac9;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 0 4px 30px;
  cursor: pointer;
  border-radius: 16px;
}

.scores:hover {
  background-color: #ff7b25;
}

.scoreLink {
  text-decoration: none;
  color: black;
}